<!DOCTYPE html>
{% load static %}
<html>
{% include 'components_base/_header.html' %}
<style>
    .number-box {
        text-align: center;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .number {
        font-size: 3em;
        color: #1b00ff;
    }

    .description {
        font-size: 1.2em;
        color: #666;
    }
</style>
<style>
    .form-group, .form-control, .filter {
        width: 100%;
    }
    .filter input[type="date"] {
        width: calc(50% - 5px);
    }
    .filter select {
        width: 100%;
    }
</style>
<style>
    /* Fixing the Filters Section */
.filter-section {
    position: sticky;
    top: 70px;
    z-index: 100; /* Ensures it's above other elements */
    background-color: #ffffff; /* Optional: Add a clean background */
    width: 100%; /* Adjust this value to the desired width */
    padding: 15px; /* Optional: Add some spacing inside the section */
    margin-top: 0; /* Ensures consistent margin */
    margin-left: -20px;
}
    .fixed-container {
  position: sticky;
  top: 70px; /* Adjust according to your needs */
  left: 0; /* Adjust according to your needs */
  width: calc(100% + 150px); /* Make it span the full width if needed */
  z-index: 100; /* To ensure it stays above other elements */
  background-color: #ffffff; /* Optional: Add a clean background */
  margin-top: 0; /* Ensures consistent margin */
  margin-left: -140px;

}
.graphs{
  width: calc(100% + 180px); /* Make it span the full width if needed */
  margin-top: 0; /* Ensures consistent margin */
  margin-left: -155px;
}

    .fixed-nav {
  position: fixed;
  top: 0; /* Adjust according to your needs */
  left: 0; /* Adjust according to your needs */
  width: 100%; /* Make it span the full width if needed */
  z-index: 1000; /* To ensure it stays above other elements */
  background-color: #0c122b; /* Optional: Add a clean background */
  margin-top: 0; /* Ensures consistent margin */

}

/* Make Empty Containers Scrollable */
.card-box.pd-20.height-100-p:empty {
    position: static; /* Prevent fixing for empty containers */
}

@media only screen and (min-width: 1920px) {
    .filter-section {
        margin-left: -15px;
    }

    .fixed-container {
        width: calc(100% + 245px);
        margin-left: -230px;
    }
    .graphs {
        width: calc(100% + 275px);
        margin-left: -245px;
    }
}

</style>

<body>
<!--{% include 'components_base/_pre_loader.html' %}-->

<div class="fixed-nav col-lg-12 col-md-12 col-sm-12">
    <div class="brand-logo">
        <a href="index.html">
            <img src="{% static 'vendors/images/white_banner.png' %}" alt="" class="dark-logo">
            <img src="{% static 'vendors/images/white_banner.png' %}" alt="" class="light-logo">
        </a>
    </div>
</div>
<div style="margin: 30px 20px 20px 20px;">
    <div class="row clearfix progress-box">
        <div class="col-lg-3 col-md-12 col-sm-12 ">
            <div class="d-flex height-100-p ">
                <div class="">
                    <!-- Filter options here -->
                    <div class="filter-section w-100"
                         style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <h5 class="filter-section w-100" style="margin-bottom: 20px; margin-top:30px;">Filter Options</h5>
                        <form id="filter-form" style="width: 100%;">
                            <div class="form-group">
                                <label for="from-date">From Date</label>
                                <input type="date" id="from-date" name="from_date" class="form-control filter"
                                       style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label for="to-date">To Date</label>
                                <input type="date" id="to-date" name="to_date" class="form-control filter"
                                       style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label for="dropdown1">Number of rooms</label>
                                <select class="form-control filter" id="dropdown1" name="number_of_rooms">
                                    <option value="" disabled selected>Select number of rooms</option>
                                    {% for rooms in option_number_of_rooms %}
                                    <option value="{{ rooms }}">{{ rooms }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dropdown2">Total floors</label>
                                <select class="form-control filter" id="dropdown2" name="total_floors">
                                    <option value="" disabled selected>Select total floors</option>
                                    {% for total_floors in option_total_floors %}
                                    <option value="{{ total_floors }}">{{ total_floors }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dropdown3">Floors</label>
                                <select class="form-control filter" id="dropdown3" name="floors">
                                    <option value="" disabled selected>Select floors</option>
                                    {% for floors in option_floors %}
                                    <option value="{{ floors }}">{{ floors }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dropdown4">Type of market</label>
                                <select class="form-control filter" id="dropdown4" name="type_of_market">
                                    <option value="" disabled selected>Select type of market</option>
                                    {% for type_of_market in option_type_of_market %}
                                    <option value="{{ type_of_market }}">{{ type_of_market }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-primary" id="reset-button" type="button"
                                    style="width: 100%; margin-bottom: 20px;">Reset
                                Filters
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="fixed-container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <div class="progress-box text-center">
                            <div class="number" id="price_per_sqm" style="color: #1b00ff;">0</div>
                            <h5 class="text-blue padding-top-10 h5">Price per m<sup>2</sup></h5>
                            <span class="d-block">in million UZS <i class="fa fa-money text-blue"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <div class="progress-box text-center">
                            <div class="number" id="avg_price" style="color: #00e091;">0</div>
                            <h5 class="text-light-green padding-top-10 h5">Average price</h5>
                            <span class="d-block">in million UZS <i class="fa text-light-green fa-money"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <div class="progress-box text-center">
                            <div class="number" id="price_per_sqm_usd" style="color: #f56767;">0</div>
                            <h5 class="text-light-orange padding-top-10 h5">Price per m<sup>2</sup></h5>
                            <span class="d-block">in thousand USD <i
                                    class="fa text-light-orange fa-dollar"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <div class="progress-box text-center">
                            <div class="number" id="avg_price_usd" style="color: #a683eb;">0</div>
                            <h5 class="text-light-purple padding-top-10 h5">Average price</h5>
                            <span class="d-block">in thousand USD <i
                                    class="fa text-light-purple fa-dollar"></i></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="row graphs">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-30">
                        <div class="card-box pd-30 pt-10 height-100-p">
                            <div id="container" style="width: 100%; height: 600px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-30">
                        <div class="card-box pd-30 height-100-p">
                            <div id="region-by-stat" class="region-by-stat"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-30">
                        <div class="card-box pd-30 height-100-p">
                            <div id="charts" class="chart"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<script src="{% static 'used_charts/uzbekistan-map.js' %}"></script>
<script src="{% static 'used_charts/tashkent-map.js' %}"></script>

<script>
    const animateNumber = (id, start, end, duration) => {
        const element = document.getElementById(id);
        let startTime = null;

        const step = (timestamp) => {
            if (!startTime) startTime = timestamp;
            const progress = Math.min((timestamp - startTime) / duration, 1);
            element.textContent = (progress * (end - start) + start).toFixed(2);
            if (progress < 1) {
                requestAnimationFrame(step);
            }
        };

        requestAnimationFrame(step);
    };

    const fetchDataAndAnimate = async () => {
        try {
            const form = document.getElementById('filter-form');
            const formData = new FormData(form);
            const params = new URLSearchParams(formData).toString();
            const response = await fetch(`/api/apartment-stats/?${params}`);
            const data = await response.json();

            // Assuming you want to use the fetched data for the animation
            animateNumber('price_per_sqm', 0, data.price_per_sqm, 700);
            animateNumber('avg_price', 0, data.avg_price, 700);
            animateNumber('price_per_sqm_usd', 0, data.price_per_sqm_usd, 700);
            animateNumber('avg_price_usd', 0, data.avg_price_usd, 700);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    };

    document.querySelectorAll('.filter').forEach(element => {
        element.addEventListener('change', fetchDataAndAnimate);
    });

    fetchDataAndAnimate();

    const resetButton = document.getElementById('reset-button');
    resetButton.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent the default form submission behavior

        // Clear the form
        document.getElementById('filter-form').reset();

        // Remove the region input if it exists
        const regionInput = document.querySelector('input[name="region"]');
        if (regionInput) {
            regionInput.remove();
        }

        // Fetch data without filters
        fetchDataAndAnimate();
    });

    fetchDataAndAnimate();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Function to fetch data and update chart
        function fetchDataAndUpdateChart(filters) {
            const queryString = new URLSearchParams(filters).toString();
            fetch(`/api/by-region-stats/?${queryString}`)
                .then(response => response.json())
                .then(data => {
                    const metrics = ['avg_price', 'avg_price_usd'];
                    const regionMap = {
                        'andizhanskaya-oblast': 'Andijan',
                        'buharskaya-oblast': 'Bukhara',
                        'dzhizakskaya-oblast': 'Jizzakh',
                        'ferganskaya-oblast': 'Fergana',
                        'horezmskaya-oblast': 'Khorezm',
                        'karakalpakstan': 'Karakalpakstan',
                        'kashkadarinskaya-oblast': 'Kashkadarya',
                        'namanganskaya-oblast': 'Namangan',
                        'navoijskaya-oblast': 'Navoi',
                        'samarkandskaya-oblast': 'Samarkand',
                        'surhandarinskaya-oblast': 'Surkhandarya',
                        'syrdarinskaya-oblast': 'Sirdarya',
                        'toshkent-oblast': 'Tashkent'
                    };
                    const regions = Object.keys(data).map(region => regionMap[region] || region);

                    // Function to extract data for each metric
                    function getMetricData(metric) {
                        return Object.keys(data).map(region => data[region][metric]);
                    }

                    Highcharts.chart('region-by-stat', {
                        chart: {
                            type: 'bar',
                            height: 600
                        },
                        title: {
                            text: 'Regional Statistics | Analysis by region'
                        },
                        xAxis: {
                            categories: regions,
                        },
                        yAxis: [{
                            // Primary yAxis for avg_price
                            title: {
                                text: 'Avg Price (in million UZS)'
                            },
                            min: 0,
                            opposite: true,
                            labels: {
                                format: '{value}'
                            }
                        }, {
                            // Secondary yAxis for avg_price_usd
                            title: {
                                text: 'Avg Price (in thousand USD)'
                            },
                            min: 0,
                            opposite: false,
                            labels: {
                                format: '{value}'
                            }
                        }],
                        series: metrics.map(metric => ({
                            name: metric.replace(/_/g, ' ').toUpperCase(),
                            data: getMetricData(metric),
                            yAxis: metrics.indexOf(metric)
                        }))
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Fetch initial data without filters
        fetchDataAndUpdateChart({});

        // Event listener for filter changes
        document.querySelectorAll('.filter').forEach(filterElement => {
            filterElement.addEventListener('change', function () {
                const filters = {};
                document.querySelectorAll('.filter').forEach(filter => {
                    if (filter.value) {
                        filters[filter.name] = filter.value;
                    }
                });
                fetchDataAndUpdateChart(filters);
            });
        });

        // Reset button functionality
        document.getElementById('reset-button').addEventListener('click', function () {
            document.getElementById('filter-form').reset();
            fetchDataAndUpdateChart({});
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterForm = document.getElementById('filter-form');
        const fromDate = document.getElementById('from-date');
        const toDate = document.getElementById('to-date');
        const dropdown1 = document.getElementById('dropdown1');
        const dropdown2 = document.getElementById('dropdown2');
        const dropdown3 = document.getElementById('dropdown3');
        const dropdown4 = document.getElementById('dropdown4');

        function fetchData() {
            const params = {
                from_date: fromDate.value,
                to_date: toDate.value,
                number_of_rooms: dropdown1.value,
                total_floors: dropdown2.value,
                floors: dropdown3.value,
                type_of_market: dropdown4.value
            };

            $.ajax({
                url: '/api/monthly-average-price/',
                method: 'GET',
                data: params,
                success: function(response) {
                    const categories = [];
                    const series = [];

                    const regionMap = {
                        'andizhanskaya-oblast': 'Andijan',
                        'buharskaya-oblast': 'Bukhara',
                        'dzhizakskaya-oblast': 'Jizzakh',
                        'ferganskaya-oblast': 'Fergana',
                        'horezmskaya-oblast': 'Khorezm',
                        'karakalpakstan': 'Karakalpakstan',
                        'kashkadarinskaya-oblast': 'Kashkadarya',
                        'namanganskaya-oblast': 'Namangan',
                        'navoijskaya-oblast': 'Navoi',
                        'samarkandskaya-oblast': 'Samarkand',
                        'surhandarinskaya-oblast': 'Surkhandarya',
                        'syrdarinskaya-oblast': 'Sirdarya',
                        'toshkent-oblast': 'Tashkent'
                    };

                    for (const region in response) {
                        const regionData = response[region].data;
                        const regionName = regionMap[response[region].region] || response[region].region;
                        const regionSeries = {
                            name: regionName,
                            data: []
                        };

                        regionData.forEach((dataPoint, index) => {
                            const [month, price] = dataPoint;

                            if (!categories.includes(month)) {
                                categories.push(month);
                            }

                            regionSeries.data[index] = price;
                        });

                        series.push(regionSeries);
                    }

                    // Create or update the chart
                    Highcharts.chart('charts', {
                        chart: {
                            type: 'streamgraph',
                            height: 600 // Increase the height
                        },
                        title: {
                            text: 'Monthly Average Prices'
                        },
                        xAxis: {
                            type: 'category',
                            categories: categories,
                            zoomType: 'x' // Enable zoom on x-axis
                        },
                        yAxis: {
                            title: {
                                text: 'Average Price (in million UZS)'
                            },
                            labels: {
                                enabled: false // Remove y-axis values
                            }
                        },
                        legend: {
                            enabled: false // Remove legends
                        },
                        plotOptions: {
                            series: {
                                dataLabels: {
                                    enabled: false // Remove data labels
                                }
                            }
                        },
                        series: series
                    });
                },
                error: function(error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        // Fetch data initially
        fetchData();

        // Add event listener to the filter form
        filterForm.addEventListener('change', fetchData);

        // Add event listener to the reset button
        document.getElementById('reset-button').addEventListener('click', function () {
            filterForm.reset();
            fetchData();
        });
    });
</script>


<!-- js -->
{% include 'components_base/_scripts.html' %}
</body>
</html>