<!DOCTYPE html>
<html>
{% include 'components_base/_header.html' %}
{% load static %}
<body class="login-page">
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <img src="vendors/images/login-page-img.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title" style="display: flex; justify-content: center; align-items: center;">
                        <img src="{% static 'vendors/images/black_banner.png' %}" alt=""
                             class="dark-logo" style="width: 257px; height: 55px;">
                    </div>
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group custom">
                            <input type="text" class="form-control form-control-lg" name="username"
                                   placeholder="Username" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="email" class="form-control form-control-lg" name="email"
                                   placeholder="Email" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-email1"></i></span>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="password" class="form-control form-control-lg" name="password1"
                                   placeholder="Password" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="password" class="form-control form-control-lg" name="password2"
                                   placeholder="Confirm Password" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <button type="submit" class="btn btn-lg btn-block"
                                            style="background-color: #10144a; color: white;">
                                        Sign Up
                                    </button>
                                </div>
                                <div class="text-center mt-2">
                                    <a href="{% url 'login' %}">Already have an account? Login here</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
{% include 'components_base/_scripts.html' %}
</body>
</html>
