{% load static %}
<script src="{% static 'vendors/scripts/core.js' %}"></script>
<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
<script src="{% static 'vendors/scripts/process.js' %}"></script>
<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
<script src="{% static 'src/plugins/jQuery-Knob-master/jquery.knob.min.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/highcharts.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/highcharts-more.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/modules/streamgraph.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/modules/annotations.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/modules/series-label.js' %}"></script>
<script src="{% static 'src/plugins/highcharts-12.1.2/code/modules/exporting.js' %}"></script>

<script src="{% static 'src/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'src/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'vendors/scripts/dashboard2.js' %}"></script>
